{
  "env": {
    "browser": true,
    "node": true,
  },
  "extends": "airbnb-base",
  "import/no-extraneous-dependencies": ["error", {
    "devDependencies": [
      "**/*.test.js",
    ],
  }],
  "parserOptions": {
    "sourceType": "script",
  },
  "rules": {
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "never",
      "exports": "never",
      "functions": "ignore",
    }],
  },
}
